<div id="sidebar-wrapper">
    <ul class="sidebar">
        <li class="sidebar-main"><a href="{{ url_for("home") }}"><i class="fa fa-home"></i>{% trans "   Dashboard" %}</a></li>

        {% if currentUser.featureEnabled("schedule.view") %}
            <li class="sidebar-list"><a href="{{ url_for("schedule.view") }}"><i class="fa fa-calendar-alt"></i>{% trans "   Schedule" %}</a></li>
        {% endif %}

        {% if currentUser.featureEnabled("daypart.view") %}
            <li class="sidebar-list"><a href="{{ url_for("daypart.view") }}"><i class="fa fa-clock"></i>{% trans "   Dayparting" %}</a></li>
        {% endif %}

        {% set countViewable = currentUser.featureEnabledCount(["campaign.view", "layout.view", "template.view", "resolution.view"]) %}
        {% if countViewable > 0 %}
            <li class="sidebar-title"><a>{% trans "Design" %}</a></li>
            {% if currentUser.featureEnabled("campaign.view") %}
                <li class="sidebar-list"><a href="{{ url_for("campaign.view") }}"><i class="fa fa-bullhorn"></i>{% trans "   Campaigns" %}</a></li>
            {% endif %}

            {% if currentUser.featureEnabled("layout.view") %}
                <li class="sidebar-list"><a href="{{ url_for("layout.view") }}"><i class="fa fa-th-large"></i>{% trans "   Layouts" %}</a></li>
            {% endif %}

            {% if currentUser.featureEnabled("template.view") %}
                <li class="sidebar-list"><a href="{{ url_for("template.view") }}"><i class="fa fa-clone"></i>{% trans "   Templates" %}</a></li>
            {% endif %}

            {% if currentUser.featureEnabled("resolution.view") %}
                <li class="sidebar-list"><a href="{{ url_for("resolution.view") }}"><i class="bi bi-badge-hd-fill"></i>{% trans "   Resolutions" %}</a></li>
            {% endif %}
        {% endif %}

        {% set countViewable = currentUser.featureEnabledCount(["library.view", "playlist.view", "dataset.view", "menuBoard.view"]) %}
        {% if countViewable > 0 %}
            <li class="sidebar-title"><a>{% trans "Library" %}</a></li>
            {% if currentUser.featureEnabled("playlist.view") %}
                <li class="sidebar-list"><a href="{{ url_for("playlist.view") }}"><i class="fa fa-list"></i>{% trans "   Playlists" %}</a></li>
            {% endif %}

            {% if currentUser.featureEnabled("library.view") %}
                <li class="sidebar-list"><a href="{{ url_for("library.view") }}"><i class="fa fa-photo-video"></i>{% trans "   Media" %}</a></li>
            {% endif %}

            {% if currentUser.featureEnabled("dataset.view") %}
                <li class="sidebar-list"><a href="{{ url_for("dataset.view") }}"><i class="fa fa-table"></i>{% trans "   DataSets" %}</a></li>
            {% endif %}

            {% if currentUser.featureEnabled("menuBoard.view") %}
                <li class="sidebar-list"><a href="{{ url_for("menuBoard.view") }}"><i class="fa fa-info-circle"></i>{% trans "   Menu Boards" %}</a></li>
            {% endif %}
        {% endif %}

        {% set countViewable = currentUser.featureEnabledCount(["displays.view", "displaygroup.view", "displayprofile.view", "playersoftware.view", "command.view"]) %}
        {% if countViewable > 0 %}
            <li class="sidebar-title"><a>{% trans "Displays" %}</a></li>
            {% if currentUser.featureEnabled("displays.view") %}
                <li class="sidebar-list"><a href="{{ url_for("display.view") }}"><i class="fa fa-desktop"></i>{% trans "   Displays" %}</a></li>
            {% endif %}

            {% if currentUser.featureEnabled("displaygroup.view") %}
                <li class="sidebar-list"><a href="{{ url_for("displaygroup.view") }}"><i class="bi bi-collection"></i>{% trans "   Display Groups" %}</a></li>
            {% endif %}

            {% if currentUser.featureEnabled("display.syncView") %}
                <li class="sidebar-list"><a href="{{ url_for("syncgroup.view") }}"><i class="fa fa-th-large"></i>{% trans "   Sync Groups" %}</a></li>
            {% endif %}

            {% if currentUser.featureEnabled("displayprofile.view") %}
                <li class="sidebar-list"><a href="{{ url_for("displayprofile.view") }}"><i class="fa fa-sliders"></i>{% trans "   Display Settings" %}</a></li>
            {% endif %}

            {% if currentUser.featureEnabled("playersoftware.view") %}
                <li class="sidebar-list"><a href="{{ url_for("playersoftware.view") }}"><i class="bi bi-download"></i>{% trans "   Player Versions" %}</a></li>
            {% endif %}

            {% if currentUser.featureEnabled("command.view") %}
                <li class="sidebar-list"><a href="{{ url_for("command.view") }}"><i class="bi bi-terminal"></i>{% trans "   Commands" %}</a></li>
            {% endif %}
        {% endif %}

        {% if currentUser.featureEnabled("users.view") and (currentUser.isGroupAdmin() or currentUser.isSuperAdmin()) %}
            {% set userMenuViewable = true %}
        {% else %}
            {% set userMenuViewable = false %}
        {% endif %}

        {% set countViewable = currentUser.featureEnabledCount(["usergroup.view", "module.view", "transition.view", "task.view"]) %}
        {% if countViewable > 0 or userMenuViewable %}
            <li class="sidebar-title"><a>{% trans "Administration" %}</a></li>

            {% if userMenuViewable %}
                <li class="sidebar-list"><a href="{{ url_for("user.view") }}"><i class="fa fa-user"></i>{% trans "   Users" %}</a></li>
            {% endif %}

            {% if currentUser.featureEnabled("usergroup.view") %}
                <li class="sidebar-list"><a href="{{ url_for("group.view") }}"><i class="fa fa-users"></i>{% trans "   User Groups" %}</a></li>
            {% endif %}

            {% if currentUser.isSuperAdmin() %}
                <li class="sidebar-list"><a href="{{ url_for("admin.view") }}"><i class="fa fa-cogs"></i>{% trans "   Settings" %}</a></li>
            {% endif %}

            {% if currentUser.isSuperAdmin() %}
                <li class="sidebar-list"><a href="{{ url_for("application.view") }}"><i class="bi bi-app-indicator"></i>{% trans "   Applications" %}</a></li>
            {% endif %}

            {% if currentUser.featureEnabled("module.view") %}
                <li class="sidebar-list"><a href="{{ url_for("module.view") }}"><i class="fa fa-puzzle-piece"></i>{% trans "   Modules" %}</a></li>
            {% endif %}

            {% if currentUser.featureEnabled("transition.view") %}
                <li class="sidebar-list"><a href="{{ url_for("transition.view") }}"><i class="fa fa-exchange-alt"></i>{% trans "   Transitions" %}</a></li>
            {% endif %}

            {% if currentUser.featureEnabled("task.view") %}
                <li class="sidebar-list"><a href="{{ url_for("task.view") }}"><i class="fa fa-tasks"></i>{% trans "   Tasks" %}</a></li>
            {% endif %}

            {% if currentUser.featureEnabled("tag.view") %}
                <li class="sidebar-list"><a href="{{ url_for("tag.view") }}"><i class="fa fa-tags"></i>{% trans "   Tags" %}</a></li>
            {% endif %}

            {% if currentUser.isSuperAdmin() %}
                <li class="sidebar-list"><a href="{{ url_for("folders.view") }}"><i class="fa fa-folder"></i>{% trans "   Folders" %}</a></li>
            {% endif %}

            {% if currentUser.featureEnabled("font.view") %}
                <li class="sidebar-list"><a href="{{ url_for("font.view") }}"><i class="fa fa-font"></i>{% trans "   Fonts" %}</a></li>
            {% endif %}
        {% endif %}


        {% set countViewable = currentUser.featureEnabledCount(["report.view", "report.scheduling", "report.saving"]) %}
        {% if countViewable > 0 %}
            <li class="sidebar-title"><a>{% trans "Reporting" %}</a></li>

            {% if currentUser.featureEnabled("report.view") %}
                <li class="sidebar-list"><a href="{{ url_for("report.view") }}"><i class="fa fa-file"></i>{% trans "   All Reports" %}</a></li>
            {% endif %}

            {% if currentUser.featureEnabled("report.scheduling") %}
                <li class="sidebar-list"><a href="{{ url_for("reportschedule.view") }}"><i class="fa fa-calendar-o"></i>{% trans "   Report Schedules" %}</a></li>
            {% endif %}

            {% if currentUser.featureEnabled("report.saving") %}
                <li class="sidebar-list"><a href="{{ url_for("savedreport.view") }}"><i class="fa fa-floppy-o"></i>{% trans "   Saved Reports" %}</a></li>
            {% endif %}

        {% endif %}

        {% set countViewable = currentUser.featureEnabledCount(["log.view", "sessions.view", "auditlog.view", "fault.view"]) %}
        {% if countViewable > 0 %}
            <li class="sidebar-title"><a>{% trans "Advanced" %}</a></li>

            {% if currentUser.featureEnabled("log.view") %}
                <li class="sidebar-list"><a href="{{ url_for("log.view") }}"><i class="fa fa-book"></i>{% trans "   Log" %}</a></li>
            {% endif %}

            {% if currentUser.featureEnabled("sessions.view") %}
                <li class="sidebar-list"><a href="{{ url_for("sessions.view") }}"><i class="bi bi-person-workspace"></i>{% trans "   Sessions" %}</a></li>
            {% endif %}

            {% if currentUser.featureEnabled("auditlog.view") %}
                <li class="sidebar-list"><a href="{{ url_for("auditlog.view") }}"><i class="bi bi-clipboard-data"></i></i>{% trans "   Audit Trail" %}</a></li>
            {% endif %}

            {% if currentUser.featureEnabled("fault.view") %}
                <li class="sidebar-list"><a href="{{ url_for("fault.view") }}"><i class="bi bi-flag"></i>{% trans "   Report Fault" %}</a></li>
            {% endif %}
        {% endif %}

        {% set countViewable = currentUser.featureEnabledCount(["developer.edit"]) %}
        {% if countViewable > 0 %}
            <li class="sidebar-title"><a>{% trans "Developer" %}</a></li>

            {% if currentUser.featureEnabled("developer.edit") %}
                <li class="sidebar-list"><a href="{{ url_for("developer.templates.view") }}">{% trans "Module Templates" %}</a></li>
            {% endif %}
        {% endif %}
    </ul>
</div>
